.header {
  width: 100%;
  display: flex;
  align-items: center;

  & .logo {
    width: 60px;
    height: 60px;
    background-image: url("../../images/logo.png");
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
  }
}