@import "../styles/_variables.module";

.token {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  height: 100%;

  & .token__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  & .token__list {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    gap: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
      transition: all ease .2s;
    }

    // Дорожка скролла (фон)
    &::-webkit-scrollbar-track {
      background: inherit;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #232a32;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #1e232b;
    }

    & li {
      font-size: 20px;
      line-height: 30px;
      border-radius: 20px;
      list-style: none;
      align-items: start;
      padding: 0 12px 0 22px;
      transition: all ease .2s;
      width: 95%;
      position: relative;

      @media (max-width: 1440px) {
        line-height: 26px;
        font-size: 18px;
      }

      &.token__name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .token__remove {
          width: 28px;
          height: 28px;
          padding-right: 22px;

          background-image: url("../images/icons/close.png");
          background-size: 14px;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          transition: all .2s ease;

          &:hover {
            cursor: pointer;
            opacity: .8;
          }

          &:active {
            opacity: 1;
          }
        }
      }

      &.text__active {
        color: $lightgreen-color;
      }

      &.month_item {
        &:hover {
          background-color: $darkgrey-color;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $grey-color;
        color: $lightgreen-color;

        .token__remove {
          opacity: 0.4;
        }
      }

      &:active {
        color: $lightgreen-hover-color;
      }
    }

    &.monthFadeIn {
      animation: fadeIn 0.4s ease-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(8px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  & .text__message {
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    &.monthFadeIn {
      animation: fadeIn 0.4s ease-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(8px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}