@import './_variables.module';

html,
body {
  max-width: 100vw;
  height: 100%;
  //overflow-x: hidden;
  padding: 10px 20px 20px;

  @media (max-width: 1440px) {
    padding: 10px
  }
}

body {
  color: $text-color;
  background-color: $grey-color;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}