@import "../../styles/_variables.module";

.list__tables {
  background-color: $darkgrey-color;
  border: 1px solid $border-color;
  border-radius: 10px;
  position: absolute;
  padding: 10px;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .title {
    text-align: center;
    font-size: 20px;
    opacity: .8;
  }

}