@import "../../styles/_variables.module";

.modalremove {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;

  & .modalremove__text {
    margin: 10px 0;

    & p {
      font-size: 20px;
      font-weight: 500;
      color: $text-color;
      text-align: center;
    }
  }

  & .modalremove__btns {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;

    & .btns {
      width: 100px;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px 5px;
      transition: all .2s ease;
      cursor: pointer;
      box-shadow: $box-shadow;
    }

    & .btn__can {
      border: 1px solid $grey-color;
      background: inherit;
      color: $text-color;

      &:hover {
        background: $grey-color;
      }

      &:active {
        background: $grey-color;
        box-shadow: none;
      }
    }

    & .btn__del {
      background: $lightgreen-color;
      border: 1px solid $lightgreen-color;
      color: $darkgrey-color;
      font-weight: 600;

      &:hover {
        background: $lightgreen-hover-color;
      }

      &:active {
        background: $lightgreen-hover-color;
        box-shadow: none;
      }
    }
  }
}