@import "../styles/_variables.module";

.tables {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;

    &__menu {
      width: 180px;
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin: 0 auto;

      & h3 {
        font-size: 24px;
        text-transform: uppercase;
      }
    }

    & .position__listTables {
      position: absolute;
      bottom: -10px;
      min-width: 280px;
      z-index: 1000;

      & .container__nameTables {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        & .container__item {
          list-style: none;
          padding: 0;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: all .2s ease;

          &:hover {

            .setting__item {
              opacity: .7;
              cursor: pointer;

              &:hover {
                opacity: 1;
              }
            }
          }

          & label {
            flex: 1;
          }

          & .setting__item {
            opacity: 0;
            width: 20px;
            height: 20px;
            background-image: url("../images/icons/setting.png");
            background-size: 20px;
            transition: all .2s ease;
          }

        }
      }
    }
  }

  & .nameTables {
    width: 100%;
    min-height: 50px;
    background-color: $darkgrey-color;
    border: 1px solid $grey-color;
    border-radius: 10px;
    position: relative;
    padding: 7px 10px;
    box-shadow: $box-shadow;
    margin-top: 20px;

    & .nameTables__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      & .nameTables__item {
        min-width: 200px;
        list-style: none;
        background-color: $darkgrey-color;
        border: 1px solid $border-color;
        border-radius: 10px;
        padding: 7px 15px;
        position: relative;
      }
    }
  }
}