@import "../../styles/_variables.module";

.button {
  width: 210px;
  height: 60px;
  border-radius: 99px;
  color: $grey-color;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all ease .2s;

  &:hover {
    opacity: .9;
  }
  &:active {
    opacity: .8;
  }
}