.btn__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: 15px;
  z-index: 10;
  background-image: url("../../images/icons/close.png");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .6;
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }
}