@import "../../styles/_variables.module";

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 21px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  opacity: .4;
  transition: all .2s ease;

  &:hover {
    opacity: .6;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;

  }



}